In [1]:
import gspread
import pandas as pd

In [2]:
gc = gspread.service_account()

In [3]:
sh = gc.open("test_gspread")

In [4]:
sh.sheet1.get_all_records()

[{'key': 'a', 'value': 1}, {'key': 'b', 'value': 2}]

In [5]:
df = pd.DataFrame(sh.sheet1.get_all_records())
df

  key  value
0   a      1
1   b      2

In [6]:
new_df = df.copy()

new_df["new_value"] = df.value.apply(lambda x: x ** 2)

new_df

  key  value  new_value
0   a      1          1
1   b      2          4

In [7]:
new_df.shape

(2, 3)

In [8]:
sheetname = "A worksheet"

try:
    worksheet = sh.add_worksheet(title=sheetname, rows="1", cols="1")
except gspread.exceptions.APIError:
    worksheet = sh.worksheet(sheetname)

In [9]:
rep = [new_df.columns.values.tolist()] + new_df.values.tolist()
rep

[['key', 'value', 'new_value'], ['a', 1, 1], ['b', 2, 4]]

In [10]:
worksheet.update(rep)

{'spreadsheetId': '1vTujgrYxJ-Gc1A4Xrj2qTRZ7YpaqJ_YFhrxD_ZjlEOU',
 'updatedRange': "'A worksheet'!A1:C3",
 'updatedRows': 3,
 'updatedColumns': 3,
 'updatedCells': 9}