In [1]:
import pandas as pd
import seaborn as sns

In [2]:
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
planets[planets.mass < 3][:6]

             method  number  orbital_period  mass  distance  year
1   Radial Velocity       1         874.774  2.21     56.95  2008
2   Radial Velocity       1         763.000  2.60     19.84  2011
9   Radial Velocity       2         452.800  1.99     74.79  2010
10  Radial Velocity       2         883.000  0.86     74.79  2010
13  Radial Velocity       3        1078.000  2.53     14.08  1996
14  Radial Velocity       3        2391.000  0.54     14.08  2001

In [5]:
planets[planets.number == 1][planets.distance < 30].head()

/home/knoop/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

             method  number  orbital_period   mass  distance  year
2   Radial Velocity       1      763.000000  2.600     19.84  2011
6   Radial Velocity       1     1773.400000  4.640     18.15  2002
7   Radial Velocity       1      798.500000    NaN     21.41  1996
16  Radial Velocity       1        4.230785  0.472     15.36  1995
25  Radial Velocity       1      116.688400    NaN     18.11  1996

In [6]:
planets.iloc[3, 2]

326.03

In [7]:
planets.sort_values('orbital_period').head()

,method,number,orbital_period,mass,distance,year
945,Pulsar Timing,1,0.090706,NaN,1200.0,2011
787,Orbital Brightness Modulation,2,0.240104,NaN,1180.0,2011
788,Orbital Brightness Modulation,2,0.342887,NaN,1180.0,2011
794,Transit,1,0.355000,NaN,NaN,2013
730,Transit,3,0.453285,NaN,38.7,2011